<div class="body">
    <app-navbar></app-navbar>
    <app-carousel></app-carousel>
    <!-- <app-databinding></app-databinding> -->
    <!-- <app-directives></app-directives> -->
    <!-- <app-productlist></app-productlist> -->
    <!-- <app-employeecrud></app-employeecrud> -->
    <!-- <app-pipes></app-pipes> -->
    <!-- <app-parentdemo></app-parentdemo> -->
    <!-- <app-employeecomponent></app-employeecomponent> -->
    <!-- <app-stocks></app-stocks> -->
     <!-- <app-user-crud></app-user-crud> -->
      <!-- <app-emplist></app-emplist>
      <app-empdd></app-empdd> -->
      <!-- <app-displayname></app-displayname> -->
       <!-- <app-formdemo1></app-formdemo1> -->
       <!-- <app-template-form-demo1></app-template-form-demo1> -->
        <!-- <app-modelformdemo1></app-modelformdemo1> -->
         <!-- <app-registrationform></app-registrationform> -->
          <!-- <app-dynamic-form></app-dynamic-form> -->
           <router-outlet></router-outlet>
</div>