<h3 class="text-center mb-4">Registration Form</h3>

<div class="border border-3 rounded-3 p-3 col-sm-6 offset-3">
  <form #regForm="ngForm" (submit)="submitRegistration(regForm)" (reset)="resetForm(regForm)">

    <p>
      First Name:
      <input name="firstName" #firstName="ngModel" [(ngModel)]="user.firstName" required minlength="5" />
      @if (firstName.dirty && firstName.hasError('required')) {
        <span class="text-danger">First name is required</span>
      }
      @if ((firstName.dirty || firstName.touched) && firstName.hasError('minlength')) {
        <span class="text-danger">Minimum 5 characters required</span>
      }
    </p>

    <p>
      Last Name:
      <input name="lastName" #lastName="ngModel" [(ngModel)]="user.lastName" required />
      @if (regForm.submitted && !user.lastName) {
        <span class="text-danger">Last name is required</span>
      }
    </p>

    <p>
      Email:
      <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required email />
      @if (email.dirty && email.hasError('required')) {
        <span class="text-danger">Email is required</span>
      }
      @if (email.dirty && email.hasError('email')) {
        <span class="text-danger">Invalid email format</span>
      }
    </p>

    <p>
      Gender:
      <label><input type="radio" name="gender" ngModel value="Male" required /> Male</label>
      <label><input type="radio" name="gender" ngModel value="Female" required /> Female</label>
      @if (regForm.submitted && !user.gender) {
        <span class="text-danger">Select gender</span>
      }
    </p>

    <p>
      Country:
      <select name="country" [(ngModel)]="user.country" required>
        <option value="">Select Country</option>
        <option>India</option>
        <option>USA</option>
        <option>UK</option>
      </select>
      @if (regForm.submitted && !user.country) {
        <span class="text-danger">Country is required</span>
      }
    </p>

    <p>
      About you:
      <textarea
        name="about"
        [(ngModel)]="user.about"
        rows="3"
        required
        minlength="10"
      ></textarea>
      @if (regForm.submitted && !user.about) {
        <span class="text-danger">Please enter at least 10 characters</span>
      }
    </p>

    <input type="submit" [disabled]="regForm.invalid" value="Register" class="mx-1 btn btn-danger" />
  </form>

  <pre>{{ regForm.value | json }}</pre>
</div>
